[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
openai = "*"
langchain-openai = "*"
langchain-community = "*"
langchain-core = "*"
pypdf = "*"
sentence-transformers = "*"
docx2txt = "*"
python-dotenv = "*"
langchain = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
soupsieve = "*"

[dev-packages]

[requires]
python_version = "3.11"
